<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="SHOP LIÊN HOAN">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOP LIÊN HOAN</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/style.css" type="text/css">
</head>


@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor contxt;

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a class="textlogo-small" asp-controller="Home" asp-action="Index">SHOP <span style="color: fuchsia !important;">LIÊN HOAN</span></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li>Giỏ hàng</li>
                <li><a asp-controller="Cart" asp-action="Index" asp-route-id="@contxt.HttpContext.Session.GetInt32("UserId")"><i class="fa fa-shopping-bag"></i><span class="countcart-ct"></span></a></li>
            </ul>
        </div>
        <div class="humberger__menu__widget">
            @if (@contxt.HttpContext.Session.GetInt32("UserId") == null)
            {
                <div class="header__top__right__auth border-right pr-2">
                    <a asp-controller="Access" asp-action="Login"><i class="fa fa-user"></i> Đăng nhập/ Đăng kí</a>
                </div>
            }
            else
            {
                <div class="header__top__right__language">
                    <i class="fa fa-user"></i>
                    <ul>
                        <li><a asp-controller="UserDashboard" asp-action="Index" asp-route-id="@contxt.HttpContext.Session.GetInt32("UserId")">Thông tin của tôi</a></li>
                        <li><a asp-controller="OrderUser" asp-action="Index" asp-route-id="@contxt.HttpContext.Session.GetInt32("UserId")">Đơn hàng của tôi</a></li>
                        <li><a asp-controller="Access" asp-action="Logout">Đăng xuất</a></li>
                    </ul>
                </div>
            }
            @* <div class="header__top__right__language">
                <img src="~Assets/img/language.png" alt="">
                <div>Đăng nhập</div>
                <span class="arrow_carrot-down"></span>
                
            </div>
            <div class="header__top__right__auth">
                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                @* <a href="#"><i class="fa fa-user"></i> Đăng xuất</a> 
            </div>*@
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a asp-controller="ProductView" asp-action="Index" asp-route-id="0" asp-route-name="">Sản phẩm</a></li>
                <li><a asp-controller="BlogView" asp-action="Index">Tin tức</a></li>
                <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> lemanhha19082000y@gmail.com</li>
                <li><i class="fa fa-phone"></i> 0354988575</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> lemanhha19082000y@gmail.com</li>
                                <li><i class="fa fa-phone"></i> 0354988575</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            @if (@contxt.HttpContext.Session.GetInt32("UserId") == null)
                            {
                                <div class="header__top__right__auth border-right pr-2">
                                    <a asp-controller="Access" asp-action="Login"><i class="fa fa-user"></i> Đăng nhập/ Đăng kí</a>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__right__language">
                                    <i class="fa fa-user"></i>
                                    <ul>
                                    <li><a asp-controller="UserDashboard" asp-action="Index" asp-route-id="@contxt.HttpContext.Session.GetInt32("UserId")">Thông tin của tôi</a></li>
                                    <li><a asp-controller="OrderUser" asp-action="Index" asp-route-id="@contxt.HttpContext.Session.GetInt32("UserId")">Đơn hàng của tôi</a></li>
                                    <li><a asp-controller="Access" asp-action="Logout">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            }
                            @* <div class="header__top__right__language">
                                <i class="fa fa-user"></i>
                                <ul>
                                    <li><a href="#">Thông tin của tôi</a></li>
                                    <li><a href="#">Đơn hàng của tôi</a></li>
                                    <li><a asp-controller="Access" asp-action="Logout">Đăng xuất</a></li>
                                </ul>
                            </div> *@
                            @* <div class="header__top__right__auth border-right pr-2">
                                <a asp-controller="Access" asp-action="Login"><i class="fa fa-user"></i> Đăng nhập/ Đăng kí</a>
                            </div> *@
                           @*  <div class="header__top__right__auth ml-2">
                                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="border-bottom: 1px solid #333;">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        @* <a href="./index.html"><img src="~Assets/img/logo.png" alt=""></a> *@
                        <a class="logo-textcustom" asp-controller="Home" asp-action="Index">SHOP <span style="color: fuchsia;">LIÊN HOAN</span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li><a asp-controller="ProductView" asp-action="Index" asp-route-id="0" asp-route-name="">Sản phẩm</a></li>
                            <li><a asp-controller="BlogView" asp-action="Index">Tin tức</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            @if (@contxt.HttpContext.Session.GetInt32("UserId") != null)
                            {
                                <li>Giỏ hàng</li>
                                <li><a asp-controller="Cart" asp-action="Index" asp-route-id="@contxt.HttpContext.Session.GetInt32("UserId")"><i class="fa fa-shopping-bag"></i><span class="countcart-ct"></span></a></li>
                                @* <li><a asp-controller="Cart" asp-action="Index" asp-route-id="@contxt.HttpContext.Session.GetInt32("UserId")"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li> *@
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a style="font-size: 2rem;" class="textlogo-small" asp-controller="Home" asp-action="Index">SHOP <span style="color: fuchsia !important;">LIÊN HOAN</span></a>
                            @* <a href="./index.html"><img src="~Assets/img/logo.png" alt=""></a> *@
                        </div>
                        <ul>
                            <li>Địa chỉ: Thôn Đô Hai- xã An Lão - Huyện Bình Lục - Tỉnh Hà Nam</li>
                            <li>Số điện thoại: 0354988575</li>
                            <li>Email: lemanhha19082000y@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="footer__widget">
                        <h6>Nếu cần liên hệ qua Email</h6>
                        <p>Hãy nhập Email của bạn</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập Email của bạn">
                            <button type="submit" class="site-btn">Gửi</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                Được chỉnh sửa bởi Lê Mạnh Hà
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Notifi custom Start -->
            <div>
                <div id="errorNumber" style="display: none;">
                    <div class="notyf" style="justify-content: flex-end; align-items: flex-end;">
                        <div class="notyf__toast notyf__toast--dismissible notyf__toast--lower text-dark">
                            <div class="notyf__wrapper">
                                <div class="notyf__icon">
                                    <i class="fa fa-warning text-dark" style="color: orange;"></i>
                                </div>
                                <div class="notyf__message" id="Textwaningcart"></div>
                                <div class="notyf__dismiss"><button class="notyf__dismiss-btn"></button></div>
                            </div>
                            <div class="notyf__ripple" style="background: orange;">

                            </div>
                            </div>
                    </div>
                </div>
                <div id="successNumber" style="display: none;">
                    <div class="notyf" style="justify-content: flex-end; align-items: flex-end;">
                        <div class="notyf__toast notyf__toast--dismissible notyf__toast--lower notyf__toast--success">
                            <div class="notyf__wrapper">
                                <div class="notyf__icon">
                                    <i class="notyf__icon--success" style="color: rgb(40, 167, 69);"></i>
                                </div>
                                <div class="notyf__message" id="Textsuccesscart"></div>
                                <div class="notyf__dismiss">
                                    <button class="notyf__dismiss-btn"></button>
                                </div>
                            </div>
                            <div class="notyf__ripple" style="background: rgb(40, 167, 69);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <script src="~/Assets/js/jquery.slicknav.js"></script>
    <script src="~/Assets/js/mixitup.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <script src="~/customJs/Client/Cart/viewCountCart.js"></script>

    @await Component.InvokeAsync("Notyf");
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
