@using static WebDoAn.Enums.ProductEnum
@model WebDoAn.Models.Product

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Chi tiết sản phẩm</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Thông tin chi tiết</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <div>
                    <p><span class="font-weight-bold mr-2">Ngày tạo:</span><span> @Model.CreateTime.Date.ToShortDateString()</span></p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Ngày cập nhật mới nhất:</span>
                        @if (Model.UpdateTime.Date.ToShortDateString() == "1/1/0001")
                        {
                            <span></span>
                        }
                        else{
                        <span> @Model.UpdateTime.Date.ToShortDateString()</span>
                        }
                    </p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Tên sản phẩm:</span><span> @Model.Name</span></p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Chất liệu:</span><span> @Model.Material</span></p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Danh mục sản phẩm:</span><span> @ViewBag.cateName</span></p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Kích Thước: (dài x rộng x cao)</span>
                        <span>@Model.Length cm</span><span> x </span>
                        <span>@Model.Width cm</span>
                        @if(Model.Height == 0)
                        {
                            <span></span>
                        }
                        else
                        {
                            <span> x </span><span>@Model.Height cm</span>
                        }

                    </p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Số lượng:</span><span> @Model.Quantity</span></p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Giá:</span><span> @Model.Price </span> VND</p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Mô tả ngắn:</span><span> @Model.ShortDescription</span></p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Đánh giá (được ghi nhận từ khách hàng)</span><span> @Model.Evaluate</span></p>
                </div>
                <div>
                    <p><span class="font-weight-bold mr-2">Mô tả chi tiết:</span></p>
                    <div>@Html.Raw(Model.Description)</div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <p><span class="font-weight-bold mr-2">Ảnh sản phẩm:</span></p>
                    <div class="blockview_img">
                        <img class="img-fluid" src="/images/product/@Model.Image" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-5">
            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary">Trở lại danh sách</a>
        </div>
    </div>
</div>
