@using WebDoAn.ModelPrivew
@using WebDoAn.Common
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<CartViewModal>

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor contxt;

<style>
    .shoping__cart__item img {
        width: 110px;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .btndathang {
        cursor: pointer;
        color: #fff;
    }

    .tomuch {
        color: red !important;
    }

    .notclick {
        pointer-events: none;
        opacity: 0.6;
    }

    .quantity-custom {
        display: flex;
        justify-content: center;
    }

        .quantity-custom .quantity-input-ct {
            width: 50px;
            outline: none;
            border: none;
            padding: 8px 0px;
            background-color: #f0f0f0;
            text-align: center;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }

        .quantity-custom .btn-ctum1 {
            border: none;
            width: 30px;
        }

        .nameview-pro {
            color: #333;
        }
        .nameview-pro:hover {
            color: #7fad39;
        }
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg mt-2" style="background-color: #333;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Giỏ hàng</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                        <span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.Count == 0)
                            {
                                <tr>
                                    <td colspan="5">Chưa có sản phẩm nào trong giỏ hàng</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in Model)
                                {
                                    <tr id="row-@item.Id">
                                        <td class="shoping__cart__item">
                                            <img src="/images/product/@item.Image" alt="">
                                            <h5 class="name-@item.Id"><a class="nameview-pro" asp-controller="ProductView" asp-action="Details" asp-route-id="@item.ProductId">@item.Name</a></h5>
                                        </td>
                                        <td class="shoping__cart__price" id="Price-@item.Id" data-gia="@item.Price">
                                            @Common.FormatNumber(item.Price , 0)
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            @* <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="number" value="@item.Quantity" id="Quantt_@item.Id">
                                                </div>
                                            </div> *@
                                            <div class="quantity-custom">
                                                <button class="btn-ctum1 btn-des_custom" data-id="@item.Id" data-proid="@item.ProductId">-</button>
                                                <input type="number" value="@item.Quantity" id="Quantt_@item.Id" class="quantity-input-ct" data-id="@item.Id" data-proid="@item.ProductId" />
                                                <button class="btn-ctum1 btn-cre_custom" data-id="@item.Id" data-proid="@item.ProductId">+</button>

                                            </div>
                                        </td>
                                        <td class="shoping__cart__total total-card" id="total-@item.Id" data-total="@item.Total">
                                            @Common.FormatNumber(item.Total, 0)
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <button type="button" data-id="@item.Id" class="btnDelete btn btn-danger w-100">Xóa</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p style="color: red;" id="toMaxtext"></p>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Tổng</h5>
                    <ul>
                        <li>Thành tiền <span id="TongSum"></span></li>
                    </ul>
                    @if(Model.Count == 0)
                    {
                        <a class="primary-btn btndathang" id="btn_nullcart">Đặt hàng</a>
                    }
                    else
                    {
                        <a asp-controller="Cart" asp-action="CheckBeforCreateOrder" class="primary-btn" id="btn_Dathang">Đặt hàng</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

<script src="~/Assets/js/jquery-3.3.1.min.js"></script>
@* <script src="~/customjs/client/cart/addviewcart.js"></script> *@