@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor contxt;

<section class="hero">
    <div class="container">
        <div class="row pt-3">
            @* @await Component.InvokeAsync("DanhMucMenu") *@
                <div class="col-lg-4">
                    <div>
                        <div class="text-center">
                            <img src="/images/useweb/silde1.png" style="width: 50px;"/>
                        </div>
                        <div class="text-center mt-3">
                            <h3 style="font-size: 1rem;">Được làm từ 100% sừng</h3>
                            <p style="font-size: 1rem;" class="mt-1">Sản phẩm hoàn toàn được làm từ sừng trâu</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border_custom">
                    <div>
                        <div class="text-center">
                            <img src="/images/useweb/slide2.png" style="width: 50px;" />
                        </div>
                        <div class="text-center mt-3">
                            <h3 style="font-size: 1rem;">Chế tác bới nghệ nhân</h3>
                            <p style="font-size: 1rem;" class="mt-1">Sản phẩm được chế tác thủ công</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <div class="text-center">
                            <img src="/images/useweb/slide3.png" style="width: 50px;" />
                        </div>
                        <div class="text-center mt-3">
                            <h3 style="font-size: 1rem;">Vận chuyển nhanh chóng</h3>
                            <p style="font-size: 1rem;" class="mt-1">Giao hàng nhanh, an toàn và cẩn thận</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
@* <section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-4">
                    <div class="categories__item set-bg" data-setbg="~Assets/img/categories/cat-1.jpg">
                        <h5><a href="#">Fresh Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__item set-bg" data-setbg="~Assets/img/categories/cat-2.jpg">
                        <h5><a href="#">Dried Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__item set-bg" data-setbg="~Assets/img/categories/cat-3.jpg">
                        <h5><a href="#">Vegetables</a></h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__item set-bg" data-setbg="~Assets/img/categories/cat-4.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__item set-bg" data-setbg="~Assets/img/categories/cat-5.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm mới nhất<span>@contxt.HttpContext.Session.GetInt32("UserId")</span></h2>
                </div>
                <div class="featured__controls">
                    @* <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Oranges</li>
                        <li data-filter=".fresh-meat">Fresh Meat</li>
                        <li data-filter=".vegetables">Vegetables</li>
                        <li data-filter=".fastfood">Fastfood</li>
                    </ul> *@
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in ViewBag.ProductInHome)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/images/product/@item.Image">
                            <ul class="featured__item__pic__hover">
                                <li><a asp-controller="ProductView" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a asp-controller="ProductView" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h6>
                            <h5>@item.Price VND</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
@* <div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~Assets/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~Assets/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- Banner End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>Tin tức</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in ViewBag.BlogInHome)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/images/blog/@blog.ImgSrc" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i>@blog.CreateTime.Date.ToShortDateString()</li>
                            </ul>
                            <h5><a asp-controller="BlogView" asp-action="Details" asp-route-id="@blog.Id">@blog.Title</a></h5>
                            <p>@blog.SubDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->
