@using static WebDoAn.Enums.OrderEnum
@using WebDoAn.Common
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Order
<style>
    .nice-select {
        display: none;
    }

    #inputState {
        display: block !important
    }

    .shoping__cart__item img {
        width: 110px;
    }
</style>
<section class="breadcrumb-section set-bg mt-2" style="background-color: #333;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Thông tin đơn hàng</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                        <a asp-controller="OrderUser" asp-action="Index" asp-route-id="@ViewBag.UserInfor.Id">Đơn hàng của tôi</a>
                        <span>Thông tin đơn hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contact-form spad" style="padding-bottom: 0px!important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Thông tin đặt hàng</h2>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputEmail4">Tên người nhận</label>
                <input type="text" class="form-control" id="inputEmail4" value="@ViewBag.UserInfor.FullName" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Số điện thoại</label>
                <input type="text" class="form-control" id="inputPassword4" value="@ViewBag.UserInfor.PhoneNumber" readonly>
            </div>
            <div class="form-group col-md-7">
                <label for="inputAddress">Địa chỉ</label>
                <input type="text" class="form-control" id="inputAddress" value="@ViewBag.UserInfor.Address" readonly>
            </div>
        </div>
        <form>
            <input type="text" asp-for="UserId" hidden value="@ViewBag.UserInfor.Id" />
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputState">Trạng thái</label>
                    @if(Model.Status == OrderStatus.Waitting)
                    {
                        <input type="text" class="form-control" id="inputAddress" value="Chờ xác nhận" readonly>
                    }
                    else if (Model.Status == OrderStatus.Confirm)
                    {
                        <input type="text" class="form-control" id="inputAddress" value="Được xác nhận" readonly>
                    }
                    else if (Model.Status == OrderStatus.Delivering)
                    {
                        <input type="text" class="form-control" id="inputAddress" value="Đang giao hàng" readonly>
                    }
                    else if (Model.Status == OrderStatus.Delivered)
                    {
                        <input type="text" class="form-control" id="inputAddress" value="Giao hàng thành công" readonly>
                    }
                    else if (Model.Status == OrderStatus.Complete)
                    {
                        <input type="text" class="form-control" id="inputAddress" value="Đơn hàng hoàn thành" readonly>
                    }
                    else if (Model.Status == OrderStatus.Reject)
                    {
                        <input type="text" class="form-control" id="inputAddress" value="Đơn hàng bị hủy" readonly>
                    }
                </div>
                <div class="form-group col-md-3">
                    <label for="inputState">Ngày cập nhật đơn hàng</label>
                    @if (@Model.UpdateTime.Date.ToShortDateString() == "1/1/0001")
                    {
                        <input asp-for="Total" type="text" class="form-control" id="inputAddress" value="" readonly>
                    }
                    else
                    {
                        <input asp-for="Total" type="text" class="form-control" id="inputAddress" value="@Model.UpdateTime.Date.ToShortDateString()" readonly>
                    }
                </div>
                <div class="form-group col-md-3">
                    <label for="inputState">Ngày giao hàng</label>
                    @if (@Model.ShipDate.Date.ToShortDateString() == "1/1/0001")
                    {
                        <input asp-for="Total" type="text" class="form-control" id="inputAddress" value="" readonly>
                    }
                    else
                    {
                        <input asp-for="Total" type="text" class="form-control" id="inputAddress" value="@Model.ShipDate.Date.ToShortDateString()" readonly>
                    }
                </div>
                <div class="form-group col-md-3">
                    <label for="inputState">Tổng tiền (VND)</label>
                    <input asp-for="Total" type="text" class="form-control" id="inputAddress" value="@Common.FormatNumber(ViewBag.ToTalSum,0)" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Phương thức thanh toán</label>
                    <select asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<MethodPay>()" id="inputState" readonly class="form-control" style="display: block !important;">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="exampleFormControlTextarea1">Ghi chú</label>
                    <textarea asp-for="Note" class="form-control" id="exampleFormControlTextarea1" readonly rows="3"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<section class="shoping-cart spad" style="padding-top: 20px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ListOrderDetailModal)
                            {
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/images/product/@item.Image" alt="">
                                        <h5>@item.Name</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        @Common.FormatNumber(item.Total, 0)
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        @item.Quantity
                                    </td>
                                    <td class="shoping__cart__total">
                                        @Common.FormatNumber(item.Sum, 0)
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
